.container {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 2fr;
    align-items: center;
    justify-content: center;
}
.input:hover {
    background: black;
}
.input {
    height: 10vh;
    width: 20vw;
    border-radius: 20px;
}
::placeholder {
    padding: 1rem;
    margin: 1rem;
}
.todo {
    display: flex;
    gap: 0.5rem;
}
.yey {
    border: 2px solid aqua;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    margin-top: 1.5rem;
    background: aqua;
}
.doing {
    display: flex;
    gap: 0.5rem;
}
.yes {
    border: 2px solid rgb(129, 22, 229);
    height: 10px;
    width: 10px;
    border-radius: 50px;
    margin-top: 1.5rem;
    background: rgb(129, 22, 229);
}
.done {
    display: flex;
    gap: 0.5rem;
}
.ok {
    border: 2px solid rgb(22, 229, 119);
    height: 10px;
    width: 10px;
    border-radius: 50px;
    margin-top: 1.5rem;
    background: rgb(22, 229, 119);
}