.large {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.1fr;
    gap: 1rem;
}
.large, .Sidebar {
    height: 100vh;
    width: 100vh;
    min-width: 100%;
}
.Sidebar, .collapsed {
    width: 80px;
    min-width: 80px;
}
.image, img {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.click, button {
    cursor: pointer;
    margin-top: 5rem;
    display: grid;
    justify-content: center;
}
.closeMenu {
    color: #000;
    z-index: 9999;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}
.kanban {
    display: flex;
    justify-content: space-between;
}
.kanban h3 {
    font-size: 2rem;
    font-weight: 600;
    font-family: sans-serif;
}
.add h4 {
    font-size: 1rem;
    font-weight: 600;
    font-family: sans-serif;
    border: 1px solid #635FC7;
    background: #635FC7;
    padding: 1rem;
    height: 20px;
    border-radius: 50px;
}
.add h4:hover {
    background: white;
}